* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.screen {
  background-image: url("../assets/bg.svg");
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.screen .container .image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.screen .container .image-container .image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.screen .container .title {
  margin-bottom: 20px;
  color: #333333;
  font-size: 42px;
}

.screen .container .button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  display: block;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: #1388F5;
  width: 300px;
  margin: 0 auto;
  text-align: center;
  font-size: 24px;
  padding: 10px 0;
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.screen .container .button:hover {
  background-color: #44a1f7;
}

.screen .container .button:active {
  background-color: #44a1f7;
}

.screen .container .button:last-child {
  margin-bottom: 0;
}

.screen .container form .input-container {
  width: 300px;
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid #E5E5E5;
  background-color: #E5E5E5;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.screen .container form .input-container i {
  color: #b1b1b1;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.screen .container form .input-container .input {
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
}

.screen .container form .input-container .input::-webkit-input-placeholder {
  font-style: italic;
  color: rgba(51, 51, 51, 0.7);
}

.screen .container form .input-container .input:-ms-input-placeholder {
  font-style: italic;
  color: rgba(51, 51, 51, 0.7);
}

.screen .container form .input-container .input::-ms-input-placeholder {
  font-style: italic;
  color: rgba(51, 51, 51, 0.7);
}

.screen .container form .input-container .input::placeholder {
  font-style: italic;
  color: rgba(51, 51, 51, 0.7);
}

.screen .container form .input-container:focus-within {
  border-color: #1388F5;
}

.screen .container form .input-container:focus-within i {
  color: #333333;
}

.screen .container form .error:focus-within {
  border-color: #E06C75;
}

.screen .container p {
  font-size: 15px;
  color: #333333;
  margin-top: 10px;
}

.screen .container p .link {
  text-decoration: none;
  color: #1388F5;
}

.messages .nav-bar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 60px;
  padding: 0 10px;
  background-color: rgba(51, 51, 51, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.messages .nav-bar .title {
  color: #fff;
}

.messages .picture {
  height: 40px;
  min-height: 40px;
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
}

.messages .picture img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.messages .text {
  background-color: #E5E5E5;
  border-radius: 50%;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
}

.messages .text p {
  font-size: 30px;
  color: #333333;
  text-transform: capitalize;
  line-height: 40px;
}

.messages .chat {
  margin-bottom: 60px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.messages .chat .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.messages .chat .message:last-child {
  margin-bottom: 0;
}

.messages .chat .message .picture {
  margin-right: 5px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.messages .chat .message .text p {
  color: #fff;
}

.messages .chat .message .content {
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 10px;
  background-color: #1388F5;
  border-radius: 10px 10px 10px 0;
  max-width: 300px;
}

.messages .chat .message .content p {
  margin: 5px 0;
  font-size: 18px;
  word-break: break-all;
}

.messages .chat .mine {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.messages .chat .mine .content {
  background-color: #333;
  border-radius: 10px 10px 0 10px;
}

.messages .chat .mine .content h3 {
  text-align: end;
}

.messages .chat .mine .content small {
  text-align: end;
}

.messages .chat .mine .content p {
  margin-top: 0;
}

.messages .input-container {
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.messages .input-container .input {
  font-size: 24px;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #E5E5E5;
  outline: none;
  background-color: #E5E5E5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.messages .input-container .input:focus {
  border-color: #1388F5;
}

.messages .input-container .input::-webkit-input-placeholder {
  font-style: italic;
  color: rgba(51, 51, 51, 0.7);
}

.messages .input-container .input:-ms-input-placeholder {
  font-style: italic;
  color: rgba(51, 51, 51, 0.7);
}

.messages .input-container .input::-ms-input-placeholder {
  font-style: italic;
  color: rgba(51, 51, 51, 0.7);
}

.messages .input-container .input::placeholder {
  font-style: italic;
  color: rgba(51, 51, 51, 0.7);
}

.messages .input-container .button {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: #1388F5;
  width: 70px;
  height: 52px;
  margin-left: 10px;
  border-radius: 10px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.messages .input-container .button i {
  color: #fff;
}

.messages .input-container .button:hover {
  background-color: #44a1f7;
}

.messages .input-container .button:active {
  background-color: #44a1f7;
}

.rpn-notification-holder {
  width: 90%;
  max-width: 400px;
}

.rpn-notification-holder .rpn-notification-card {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
}

.rpn-notification-holder .rpn-notification-card .rpn-notification-card-top {
  border-radius: 10px 10px 0 0;
}

.rpn-notification-holder .rpn-notification-card .rpn-notification-card-top span {
  font-size: 18px;
}

.rpn-notification-holder .rpn-notification-card .rpn-notification-card-bottom {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0 0 10px 10px;
  background-color: #333333;
}

.rpn-notification-holder .rpn-notification-card .rpn-notification-card-bottom span {
  font-size: 18px;
}
/*# sourceMappingURL=index.css.map */